<div id="<%=  dish.id %>" class="dish-item">
  <p id="dish-title-<%=  dish.id %>" class="dish-title"><%- dish.name %></p>
  <img class="dish-item-picture" src="<%- dish.thumbnail_photo_url %>" />
  <p class="dish-price" id="dish-price-<%=  dish.id %>"><%= (dish.price) %></p>
  <form class="dish-purchase" action="" method="post">
    <input
      class="dish-minus"
      id="dish-item<%=  dish.id %>-minus"
      type="button"
      value="-"
    />
    <input
      class="dish-qty"
      id="dish-item<%=  dish.id %>-qty"
      type="text"
      name=""
      value="0"
    />
    <input
      class="dish-add"
      id="dish-item<%=  dish.id %>-add"
      type="button"
      value="+"
    />
  </form>
</div>
