<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your order summary</title>
  <link type="text/css" rel="stylesheet" href="/styles/order-page.css">
  <link href="https://fonts.googleapis.com/css?family=Merienda+One|Raleway:400,700,900&display=swap" rel="stylesheet" />
  <script type="text/javascript" src="/scripts/map.js"></script>

</head>

<body>
  <h1> Your order has been placed - see you soon Stevie! </h1>

  <main>
    <div class="google-maps">
      <div>
        <h3 class="travel-mode">Mode of Travel: </h3>
        <select id="mode" onchange="initMap();">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
        </select>
      </div>
      <h3 id="msg"></h3>
      <div id="map">
      </div>
    </div>


    <div class="order-summary">
      <p class="order-summary-title">Order Summary</p>
      <div class="order-detail">
        <p class="order-item">Item</p>
        <p class="order-qty">Quantity</p>
        <p class="order-price price">Price</p>
      </div>
      <% order.forEach(function(order){ %>
      <div class="order-detail ordered-detail">
        <p class="ordered-item"><%= order.item %></p>
        <p class="ordered-item"><%= order.quantity %></p>
        <p class="ordered-item price">$<%= (order.sum) %></p>
      </div>
      <% }); %>
      <div class="sub-total order-detail">
        <p>Sub-Total</p>
        <p></p>
        <p id="sub-total-price" class="price underline">$<%= Number((total[0].sum)) %></p>
      </div>
      <div class="order-detail tax-price">
        <p>Tax (13%)</p>
        <p></p>
        <p id="tax-price" class="price underline">$<%= (Number(total[0].sum)* 0.13).toFixed(2) %></p>
      </div>
      <div class="total order-detail">
        <p>Total</p>
        <p></p>
        <p id="total-price" class="price underline total">$<%= (Number(total[0].sum)* 1.13).toFixed(2) %></p>

      </div>
      <div class="order-detail">

            <div class="user-support">
            <img class="user-picture" src="<%- '/assets/support.png' %>" />
            <p>Need Help? Give us a call - +1 007 1337!</p>
            </div>

      </div>
  </main>

  <script>initMap()</script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcLOiaEp4qBb1Wt2V_dyR6Ze1sgIEfUhs&callback=initMap"></script>
</body>

</html>
